<a href="https://colab.research.google.com/github/VamshiBolukonda/2216120_AIML_Bootcamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Implement the methods of String with examples.
s1='My name is Vamshi bolukonda'
print(s1.capitalize())
print(s1.title())
print(s1.lower())
print(s1.upper())
print(s1.swapcase())
print(s1.count('a'))
print(s1.endswith('a'))
print(s1.find('a'))
print(s1.isprintable())
print(s1.startswith('m'))

s2='Pincode is 506370'
print(s2.isalnum())
print(s2.isalpha())
print(s2.isdigit())

s3='''Hello Everyone
I am Vamshi
I am attending Gradstellar Bootcamp'''
print(s3.splitlines())

s4='   I am attending Gradstellar Bootcamp    '
print(s4.strip())
print(s4.lstrip())
print(s4.rstrip())

My name is vamshi bolukonda
My Name Is Vamshi Bolukonda
my name is vamshi bolukonda
MY NAME IS VAMSHI BOLUKONDA
mY NAME IS vAMSHI BOLUKONDA
3
True
4
True
False
False
False
False
['Hello Everyone', 'I am Vamshi', 'I am attending Gradstellar Bootcamp']
I am attending Gradstellar Bootcamp
I am attending Gradstellar Bootcamp
   I am attending Gradstellar Bootcamp

In [39]:
#Implement the methods of List with examples.
l1=[1,2,3,4]
l1.append(5)
print(l1)
l2=l1.copy()
print(l2)
l1.append(5)
print(l1)
print(l1.count(5))
l1.extend([5,6,7])
print(l1)
print(l1.index(5))
l1.insert(1,1.5)
print(l1)
l1.pop(6)
print(l1)
l1.remove(5)
print(l1)
l3=[5,2,10,1,3,6.5,9]
l3.sort()
print(l3)
l3.reverse()
print(l3)
l3.clear()
print(l3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5]
2
[1, 2, 3, 4, 5, 5, 5, 6, 7]
4
[1, 1.5, 2, 3, 4, 5, 5, 5, 6, 7]
[1, 1.5, 2, 3, 4, 5, 5, 6, 7]
[1, 1.5, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6.5, 9, 10]
[10, 9, 6.5, 5, 3, 2, 1]
[]

In [40]:
#Implement the methods of Tuple with examples.
t=(1,5,10,5,26,56)
#indexing
print(t[2])
print(t[-1])
#slicing 
print(t[1:5])
#methods
print(min(t))
print(max(t))
print(t.index(5))
print(t.count(5))

10
56
(5, 10, 5, 26)
1
56
1
2

In [41]:
#Implement the methods of Dictionary with examples.
dic={'name':'vamshi','phno':1234567890,'add':'HNK','pin':506370,'clg':'SRU'}
print(dic['name'])
print(dic['phno'])
print(dic['add'])
print(dic['clg'])
print(dic.keys())
print(dic.values())
print(dic.get('add'))

vamshi
1234567890
HNK
SRU
dict_keys(['name', 'phno', 'add', 'pin', 'clg'])
dict_values(['vamshi', 1234567890, 'HNK', 506370, 'SRU'])
HNK

In [42]:
#Implement the methods of Set with examples.
s1={1,2,3}
l=[1,2.0,'Hello',4+10j]#converting list to set
s=set(l)
print(s)
s1.add(4)
print(s1)
s1.update([2,3,5])
print(s1)
s1.discard(5)
print(s1)
s1.remove(4)
print(s1)
a={1,2,3,4,5}
b={4,5,6,7}
#union
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{(4+10j), 1, 2.0, 'Hello'}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{6, 7}
{6, 7}

In [43]:
#Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.
a=int(input('Enter a decimal number :'))
b=bin(a)
c=oct(a)
d=hex(a)
print(b)
print(c)
print(d)

Enter a decimal number :26
0b11010
0o32
0x1a

In [44]:
#Implement Arithmetic operators with examples.
x=5
y=2
print('Addition is:',x+y)
print('Subtraction is:',x-y)
print('Multiplication is:',x*y)
print('Division is:',x/y)
print('Remainder is:',x%y)
print('Floor Division Result is:',x//y)
print('Exponential Result is:',x**y)

Addition is: 7
Subtraction is: 3
Multiplication is: 10
Division is: 2.5
Remainder is: 1
Floor Division Result is: 2
Exponential Result is: 25

In [45]:
#Implement Assignment operators with examples.
a=5
b=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//b
print(a)
a%=b
print(a)
a**=b
print(a)

8
5
15
5.0
5.0
2.0
8.0

In [46]:
#Implement Comparison operators with examples.
p=5
q=3
print(p==q)
print(p!=q)
print(p>=q)
print(p<=q)
print(p<q)
print(p>q)

False
True
True
False
False
True

In [47]:
#Implement Logical operators with examples.
a=5
b=3
c=6
print(a>b and a>c)
print(b>a or a>b)
print(not a)

False
True
False

In [48]:
#Implement Bitwise operators with examples.
a=25
b=2
print(~a)
print(a^b)
print(a>>b)
print(a<<b)

-26
27
6
100

In [49]:
#Implement Membership operators with examples.
s1='I am Indian'
s2='India'
s3='india'
print(s2 in s1)
print(s3 in s1)
print(s3 not in s1)
l1=[1,2.0,'India',4+6j]
print(6 in l1)
print(4+6j in l1)
print(2.0 not in l1)
print('india' not in l1)

True
False
True
False
True
False
True

In [50]:
# Implement Identity operators with examples
a=15
b=20
print(a is b)
print(a is not b)

False
True

In [51]:
#Demonstrate Negative indexing for List and apply slicing.
l1=[10,20,30,40,50,60,70]
#negative indexing
print(l1[-1])
print(l1[-3])
print(l1[-5])
#slicing
print(l1[:])
print(l1[3:])
print(l1[::-1])#reverse

70
50
30
[10, 20, 30, 40, 50, 60, 70]
[40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]

In [53]:
#Predict the output for the given code snippet and justify the result.
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
#[::-1] it is for reversing and [4::3] it starts from 4th index with step size as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
#[3:10] it starts from 3rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
------------
ot emoc

In [54]:
#Write a python code to get desired output
#p_phrase = "was it a car or a cat I saw"; Output string : WAS I TAC A RO RAC A TI SAW
s="was it a car or a cat I saw"
s1=s.upper()
print(s1[::-1])

WAS I TAC A RO RAC A TI SAW

In [58]:
#You are required to generate a word similar to ZOO, X and Y that denote the number 
#of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
x=int(input("Enter no. of Z's="))
y=2*x
print('x=',x,'y=',y)
print('Z'*x,'O'*y,sep='')

Enter no. of Z's=5
x= 5 y= 10
ZZZZZOOOOOOOOOO