<a href="https://colab.research.google.com/github/VamshiBolukonda/2216120_AIML_Bootcamp/blob/main/Grad_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
#if statement
var=100
if var>0:
  print("true")
  print(var)

true
100

In [105]:
#if...else statement
var2=-1
if var2>0:
  print("True")
  print(var2)
else:
  print("False")
  print(var2)

False
-1

In [106]:
#nested if statements
#bus tickets
age=int(input("ENTER AGE"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("quarter ticket+ discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("no ticket")

ENTER AGE25
full ticket

In [107]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
  sum=sum+val
print("the sum is",sum)
print("\n")
for i in range(1,11):
  print(i)

the sum is 48


1
2
3
4
5
6
7
8
9
10

In [108]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [109]:
x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

[2, 4, 6, 8]

In [110]:
#using statements in for loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")
for l in "python":
  print("Current letter:",l)

0
1
5
no items left
Current letter: p
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n

In [111]:
#iterating by sequence indexing
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print('current fruit:',fruit[index])

current fruit: apple
current fruit: banana
current fruit: grapes

In [112]:
#while
count=0
while(count<11):
  print('the count is',count)
  count=count+1

count=0
while(count<5):
  print(count,"is less than 5")
  count=count+1
else:
  print(count,"is not less than 5")

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10
0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [113]:
#nested loops
#Addition of Matrices
x=[[5,8,1],
   [7,4,9],
   [2,6,1]]
y=[[4,9,6],[1,9,8],[2,4,6]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):#iterate through rows #no. of rows=len(x)=3
  for j in range(len(x[0])):#iterate through columns #no. of columns=len(x[0])=3
    res[i][j]=x[i][j]+y[i][j]
for p in res:
    print(p)

[9, 17, 7]
[8, 13, 17]
[4, 10, 7]

In [ ]:
#nested loops
#Subtraction of Matrices
x=[[5,8,1],
   [7,4,9],
   [2,6,1]]
y=[[4,9,6],[1,9,8],[2,4,6]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):#iterate through rows #no. of rows=len(x)=3
  for j in range(len(x[0])):#iterate through columns #no. of columns=len(x[0])=3
    res[i][j]=x[i][j]-y[i][j]
for p in res:
    print(p)

[1, -1, -5]
[6, -5, 1]
[0, 2, -5]

In [ ]:
#Printing Tables
n=int(input("Enter till where you want to print:"))
i=1
while(i<=n):
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")#rawstring
    j=j+1
  print("---------------")
  i=i+1

Enter till where you want to print:5
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
---------------
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
---------------
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
---------------
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
---------------
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
---------------

In [114]:
#Control Statements
#break
for l in 'python':
  if l=='h':
    break
  print('Current Letter is:',l)

int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    break

Current Letter is: p
Current Letter is: y
Current Letter is: t
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6

In [115]:
#continue
for l in 'Python':
  if l == 'h':
    continue
  print("Current letter:",l)


int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    continue

Current letter: P
Current letter: y
Current letter: t
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [116]:
#pass
for l in 'Python':
  if l == 'h':
    pass
  print("Current letter:",l)

int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    print("this is pass block")

Current letter: P
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
this is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [117]:
#user defined funtions
def greet(name):
  '''this function greets a person'''
  print("Hello,\t"+name+"\tGood Morning")
greet("Vamshi")

Hello,	Vamshi	Good Morning

In [118]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [119]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [120]:
#positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [121]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Grapes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'Oranges': 20, 'Grapes': 30}

In [123]:
#arbitrary positional
def add_num(*n):
  print(n)
  print(sum(n))
add_num(5,11)

(5, 11)

TypeError: ignored

In [ ]:
s=input("Enter a string:")
if(s==s[::-1]):
  print(s,'is a Pallindrome')
else:
  print(s,'is not a Pallindrome')

Enter a string:hi
hi is not a Pallindrome

In [ ]:
l=[]
for i in range(1,100):
  if(i%11==0):
    l.append(i)
print(l)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
for i in range(1,100):
  str1=str(i)
  if(str1==str1[::-1]):
    print(i,"is Pallindrome")

1 is Pallindrome
2 is Pallindrome
3 is Pallindrome
4 is Pallindrome
5 is Pallindrome
6 is Pallindrome
7 is Pallindrome
8 is Pallindrome
9 is Pallindrome
11 is Pallindrome
22 is Pallindrome
33 is Pallindrome
44 is Pallindrome
55 is Pallindrome
66 is Pallindrome
77 is Pallindrome
88 is Pallindrome
99 is Pallindrome

In [ ]:
l=[10,15,20,89,76,65,26,86,68,78]
e=[]
for i in l:
  if (i%2==0):
    e.append(i)
print(e)

[10, 20, 76, 26, 86, 68, 78]

In [ ]:
#Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”
#Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]
#Output: [“Finland”,”Ireland”]
Countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in Countries_list:
  if("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

In [ ]:
#Write a python program that print respective grades of student:
#Grade – Outstanding  for marks>=90
#Grade A+ for marks >=80, <90
#Grade A for marks >=70, <80
#Grade B for marks >=60 and <70
#<60 Grade C
marks=int(input("Enter Marks:"))
if(marks>=90):
  print("Outstanding")
elif(marks<90 and marks>=80):
  print("A+")
elif(marks<80 and marks>=70):
  print("A")
elif(marks<70 and marks>=60):
  print("B")
else:
  print("C")

Enter Marks:91
Outstanding

In [ ]:
#Create a list with name state list with 5 elements
#State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
#Write a python program that extract first and last characters of each item and print in desired format.
#Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
#Output: dItAgAaOkA
State_list=['Delhi','Telangana','Goa','AP','Kerala']
l=[]
for i in State_list:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
str="".join(l)
print(str)
str=str.swapcase()
print(str)

['D', 'i', 'T', 'a', 'G', 'a', 'A', 'P', 'K', 'a']
DiTaGaAPKa
dItAgAapkA

In [ ]:
State_list=['Delhi','Telangana','Goa','AP','Kerala']
str=""
for i in State_list:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [ ]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("I am high order function")
  print(greet)
explain(shout)
explain(whisper)

I AM HIGH ORDER FUNCTION
i am high order function

In [124]:
#lambda function
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))


print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x+y
print(res(2,3))

5
5
5
4
5
5

In [127]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)
res_list1=list(map(lambda x:x+2,li))
print(res_list1)

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [128]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))


my_list1=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,my_list1))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 34]

In [99]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
print(eor(20))

l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

the number 20 is even

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 9 is odd',
 'the number 10 is even']

In [96]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [95]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
li=[2,9,7,86,-5,46]
print(list(filter(odd_num,li)))

[9, 7, -5]

In [94]:
li=[2,9,7,86,-5,46]
print(list(filter(lambda x:x%2==0,li)))

[2, 86, 46]

In [93]:
#MODULES
import os
os.mkdir("hi")#make directory
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

FileExistsError: ignored

In [92]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.ceil(1.4))
print(m.floor(1.4))

3.141592653589793
2.718281828459045
2.0
120
2
1

In [91]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [90]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

28
3
1

In [89]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655208083.4073043
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=12, tm_min=1, tm_sec=23, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 12:01:23 2022
Tue Jun 14 12:01:23 2022
None

In [88]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

23
10
0.9100305907596066

In [87]:
#Game using Random module
import random
num=random.randint(0,5)
num1=int(input("PREDICT A NUMBER:"))
if num1==num:
  print("YOU WON")
else:
  print("YOU LOST")

PREDICT A NUMBER:3
YOU LOST

In [86]:
#Write a python program that remove items that are multiples of 5 from list:
#li=[1,2,5,6,7,10,15,25,65,78,90]
#o/p: [1,2,6,7,78]
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)


#OR
li=[1,2,5,6,7,10,15,25,65,78,90]
for i in li[:]:
  if(i%5==0):
    li.remove(i)
print(li)

[1, 2, 6, 7, 78]
[1, 2, 6, 7, 78]

In [85]:
#Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’
#Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]
#Output: [“Apple”,”Avacado”,”Amla”]
Fruit=['Apple','Banana','Pear','Avacado','Orange','Amla']
l=[]
for i in Fruit:
  if i.startswith('A'):
    l.append(i)
print(l)

fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x.startswith('A'),fruit))
print(res)

['Apple', 'Avacado', 'Amla']
['Apple', 'Avacado', 'Amla']

In [84]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [83]:
#Mssg=”Welcome to gradstellar bootcamp”
#X=”number of occurrences of ‘o’ in mssg”
#Y=”number of occurrences of ‘e’ in mssg”
#Compute (X+Y)2
Mssg='Welcome to gradstellar bootcamp'
x=Mssg.count('o')
y=Mssg.count('e')
print(x,y)
print((x+y)**2)

4 3
49

In [82]:
#Write python program that filters a list by removing the elements that not start with vowel.
#I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]
#O/P: [‘apple’,’orange’,’umbrella’]
s=['apple','orange','grapes','ball','bat','umbrella']
res=list(filter(lambda x:x[0] in ['a','e','i','o','u'] ,s))
print(res)

['apple', 'orange', 'umbrella']

In [81]:
#Write a python program that displays unique element in a given list using function
#Li=[56,78,32,45,45,45,19,20]
#O/P: [56,78,32,45,19,20]
Li=[56,78,32,45,45,45,19,20]
Li=set(Li)
print(Li)

{32, 45, 78, 19, 20, 56}