<a href="https://colab.research.google.com/github/VamshiBolukonda/2216120_AIML_Bootcamp/blob/main/Grad_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#nested loops
#Addition of Matrices
x=[[5,8,1],
   [7,4,9],
   [2,6,1]]
y=[[4,9,6],[1,9,8],[2,4,6]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):#iterate through rows #no. of rows=len(x)=3
  for j in range(len(x[0])):#iterate through columns #no. of columns=len(x[0])=3
    res[i][j]=x[i][j]+y[i][j]
for p in res:
    print(p)

[9, 17, 7]
[8, 13, 17]
[4, 10, 7]

In [ ]:
#nested loops
#Subtraction of Matrices
x=[[5,8,1],
   [7,4,9],
   [2,6,1]]
y=[[4,9,6],[1,9,8],[2,4,6]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):#iterate through rows #no. of rows=len(x)=3
  for j in range(len(x[0])):#iterate through columns #no. of columns=len(x[0])=3
    res[i][j]=x[i][j]-y[i][j]
for p in res:
    print(p)

[1, -1, -5]
[6, -5, 1]
[0, 2, -5]

In [ ]:
#nested loops
#Multiplication of Matrices
x=[[5,8,1],
   [7,4,9],
   [2,6,1]]
y=[[4,9,6],[1,9,8],[2,4,6]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):#iterate through rows #no. of rows=len(x)=3
  for j in range(len(x[0])):#iterate through columns #no. of columns=len(x[0])=3
    res[i][j]=x[i][j]+y[i][j]
for p in res:
    print(p)

In [ ]:
#Printing Tables
n=int(input("Enter till where you want to print:"))
i=1
while(i<=n):
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")#rawstring
    j=j+1
  print("---------------")
  i=i+1

Enter till where you want to print:5
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
---------------
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
---------------
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
---------------
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
---------------
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
---------------

In [ ]:
#Control Statements
#break
for l in 'python':
  if l=='h':
    break
  print('Current Letter is:',l)

Current Letter is: p
Current Letter is: y
Current Letter is: t

In [ ]:
s=input("Enter a string:")
if(s==s[::-1]):
  print(s,'is a Pallindrome')
else:
  print(s,'is not a Pallindrome')

Enter a string:hi
hi is not a Pallindrome

In [ ]:
l=[]
for i in range(1,100):
  if(i%11==0):
    l.append(i)
print(l)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
for i in range(1,100):
  str1=str(i)
  if(str1==str1[::-1]):
    print(i,"is Pallindrome")

1 is Pallindrome
2 is Pallindrome
3 is Pallindrome
4 is Pallindrome
5 is Pallindrome
6 is Pallindrome
7 is Pallindrome
8 is Pallindrome
9 is Pallindrome
11 is Pallindrome
22 is Pallindrome
33 is Pallindrome
44 is Pallindrome
55 is Pallindrome
66 is Pallindrome
77 is Pallindrome
88 is Pallindrome
99 is Pallindrome

In [ ]:
l=[10,15,20,89,76,65,26,86,68,78]
e=[]
for i in l:
  if (i%2==0):
    e.append(i)
print(e)

[10, 20, 76, 26, 86, 68, 78]

In [ ]:
#Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”
#Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]
#Output: [“Finland”,”Ireland”]
Countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in Countries_list:
  if("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

In [ ]:
#Write a python program that print respective grades of student:
#Grade – Outstanding  for marks>=90
#Grade A+ for marks >=80, <90
#Grade A for marks >=70, <80
#Grade B for marks >=60 and <70
#<60 Grade C
marks=int(input("Enter Marks:"))
if(marks>=90):
  print("Outstanding")
elif(marks<90 and marks>=80):
  print("A+")
elif(marks<80 and marks>=70):
  print("A")
elif(marks<70 and marks>=60):
  print("B")
else:
  print("C")

Enter Marks:91
Outstanding

In [ ]:
#Create a list with name state list with 5 elements
#State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
#Write a python program that extract first and last characters of each item and print in desired format.
#Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
#Output: dItAgAaOkA
State_list=['Delhi','Telangana','Goa','AP','Kerala']
l=[]
for i in State_list:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
str="".join(l)
print(str)
str=str.swapcase()
print(str)

['D', 'i', 'T', 'a', 'G', 'a', 'A', 'P', 'K', 'a']
DiTaGaAPKa
dItAgAapkA

In [ ]:
State_list=['Delhi','Telangana','Goa','AP','Kerala']
str=""
for i in State_list:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [44]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("I am high order function")
  print(greet)
explain(shout)
explain(whisper)

I AM HIGH ORDER FUNCTION
i am high order function

In [45]:
#lambda function
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))

5
5
5

In [46]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(20)

'the number 20 is even'

In [47]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [48]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
li=[2,9,7,86,-5,46]
print(list(filter(odd_num,li)))

[9, 7, -5]

In [49]:
li=[2,9,7,86,-5,46]
print(list(filter(lambda x:x%2==0,li)))

[2, 86, 46]